#section1{
    background-color: rgb(19, 19, 82);
    color: white;
    font-size: 20pt;
    font-family: 'Segoe UI';
    text-align: center;
}

#section2{
    background-color: rgb(127, 129, 255);
    padding: 10px;
    font-size: 15pt;
    font-family: 'Segoe UI';
    border-style: dotted;
    border-width: thick;
}

#section2 h2{
    color: blue;
}